html,body {
	font:normal arial,helvetica;
	height: 100%;
	padding-top:0px;
}
img, object, embed, canvas, video, audio, picture {
	max-width: 100%;
	height: auto;
}

#header {
	
}

#layout {
	width: 100%;
	margin: 0px auto;
	height:100%;
}

#menu {
	width: 10%;
	display:inline-block;
	padding: 5px 15px;
	background: #191818;
	height:100%;
}

#content {
	width: 70%; /* Account for margins + border values */
	display:inline-block;
	padding: 5px 15px;
}

#chat {
	width: 15%;
	background: #191818;
	height:100%;
	padding: 5px 15px;
	display:inline-block;
}

.card {
	display: inline-block;
	vertical-align: top;
	margin: 2px;
	padding: 5px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#layout {
		width: 94%;
	}
	#menu {
		width: 41%;
		padding: 1% 4%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#chat {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#menu {
		width: auto;
		float: none;
	}
	
	#content {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#chat {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#chat {
		display: none;
	}

}

#chatcontent {
	overflow: auto;
	height: 90%;
	padding: 5px;
	padding-bottom:0px;
	color:#e1e1e1;
}

#chatinput {
	height: 10%;
	padding-bottom:3%;
}

#chatoptions {
	height: 12px;
}

#chatoptions a {
	color:#e1e1e1;
}

#warningbanner {
	background-color: #d2ac80;
	padding: 2px;
	display: none;
	text-align:center;
	border: 1px solid #d27f1d;
}

#warningclosebutton {
	text-align: right;
	float:right;
}

#footer {
	clear:both;
	position:fixed;
	bottom:0;
	width:100%;
	height:2.75%;
	background-color:#ddd;
	text-align: center;
	padding-top: 5px;
	z-index:101;
	margin:0;
}

#log {
	width:600px;  
	border:1px solid #7F9DB9; 
	overflow:auto;
	z-index:1000;
}
#msg {
	width:400px;
}

.clear{
	clear: both;
}

#gamesession {
	
}

#missiondashboard {
	
}

#missionmapcontent {
	display:inline-block;
}

#missioneventscontent {
	display:inline-block;
	height: 300px;
	width: 300px;
	overflow: auto;
	background-color:#c7c7c7;
	position: absolute;
	padding: 5px;
	margin: 5px;
	border: 1px solid #595651;
	border-radius:10px;
}

#missioneventscontent h3 {
	text-align:center;
}

table#missionmap tbody tr td {
	padding: 8px;
	background-color: #ccc;
}

table#legend {
	margin-top: 5px;
}

table#legend, table#legend tbody tr td {
	border: 1px solid #aaa;
}

table#legend tbody tr td {
	padding: 8px;
}

table#legend tbody tr td.explaination {
	padding: 0px;
}

table#legend thead tr td {
	text-align: center;
}

table#missionmap tbody tr td.map_unwalkable, table#legend tbody tr td.map_unwalkable {
	background-color: black;
}

table#missionmap tbody tr td.map_ftldrive, table#legend tbody tr td.map_ftldrive {
	background-color: yellow;
}

table#missionmap tbody tr td.map_survsyst, table#legend tbody tr td.map_survsyst {
	background-color: green;
}

table#missionmap tbody tr td.map_pilot, table#legend tbody tr td.map_pilot {
	background-color: orange;
}

table#missionmap tbody tr td.map_communication, table#legend tbody tr td.map_communication {
	background-color: blue;
}

table#missionmap tbody tr td.map_character, table#legend tbody tr td.map_character {
	background-color: blue;
}

table#missionmap tbody tr td.map_door, table#legend tbody tr td.map_door {
	background-color: #999;
}

table#missionmap tbody tr td.map_fire, table#legend tbody tr td.map_fire {
	background-color: red;
	font-size: 6pt;
	padding: 3px;
	text-align: center;
}

table#missionmap tbody tr td.map_character_wt, table#legend tbody tr td.map_character_wt {
	background-color: #ccc;
	padding:0px;
}

#mission table tbody tr td.warning {
	color:red;
}

#gamesessions .gamesession {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	overflow: auto;
	padding: 5px;
	margin: 5px;
	display:inline-block;
}

#creategamesession {
	width:500px;
}

#createchar {
	width: 500px;
}

#logconsole {
	width: 1000px;
	overflow: auto;
}

.characterresume {
	width:20%;
	margin: 0 auto;
	border: 1px solid black;
	border-radius:5px;
	margin-bottom: 5px;
}

.characterresumeheader {
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	background-color:green;
	text-align: center;
	color: white;
}

.characterresumeheader a {
	color: white;
}

.characterresumeinfo {
	
}

.characterresumeinfo ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.characterresumeinfo ul li {
	border-bottom: 1px solid #ccc;
	width: 100%;
}

table#missionmap tbody tr td.over {
	background-image:url("../img/token-select.png");
	background-repeat:no-repeat;
}

#gs_characters {
	width: 100%;
}

.characteractions {
	display:inline-block;
	width:100px;
	text-align:center;
	overflow:auto;
}

table.rose {
	margin-left:auto; 
    margin-right:auto;
}

.characterpowers {
	height:50px;
}

.characterpowers ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.characterpowers ul li {
	width: 100%;
}

.c_cap {
	text-align: right;
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}

.c_capv {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}

div#sectioninfo {
	border: 1px solid #0d2ac4;
	border-radius: 5px;
	background-color: #b4bef2;
	margin: 5px;
	padding: 5px;
}

#modifycharacteravatar {
    /*style the "box" in its minimzed state*/
    border:1px solid #ccc; width:80px; height:80px; overflow:hidden;
    /*animate collapsing the dropdown from open to closed state (v. fast)*/
    -moz-transition: height 0.1s; 
    -webkit-transition: height 0.1s; 
    -ms-transition: height 0.1s;  
    -o-transition: height 0.1s;  
    transition: height 0.1s;
    display: inline-block;
}
#modifycharacteravatar:hover {
    /*when expanded, the dropdown will get native means of scrolling*/
    height:200px; overflow-y:scroll;
    /*nice and smooth expand - speed this up at your preference or remove animation altogether*/
    -moz-transition: height 0.5s; 
    -webkit-transition: height 0.5s; 
    -ms-transition: height 0.5s;  
    -o-transition: height 0.5s;  
    transition: height 0.5s;
}
#modifycharacteravatar input {
    /*hide the nasty default radio buttons. like, completely!*/
    height: 0; width: 0; opacity:0;
}
#modifycharacteravatar label {
    width:64px;
    margin:0px;
}

#modifycharacteravatar img {
  height: auto;
  width: 64px;
}
#modifycharacteravatar label input ~ * {
    display:none;
    margin:2px;
    opacity:0.2; 
    -webkit-filter: blur(1px);
}
#modifycharacteravatar:hover label input ~ * {
    display:inline-block;
}
#modifycharacteravatar label:hover input ~ * {
    opacity:0.5;
    -webkit-filter: none;
}
#modifycharacteravatar label input:checked ~ * {
    opacity:1;
    -webkit-filter: none;
    display:inline-block;
}

.faction {
	width:20%;
	margin: 0 auto;
	border: 1px solid black;
	border-radius:5px;
	margin-bottom: 5px;
}

.factionheader {
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	background-color:#000;
	text-align: center;
	color: white;
}

.factionheader a {
	color: white;
}

.factionname {
	font-weight: bold;
	font-size: 1.2em;
}

.factioninfo ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.factioninfo ul li {
	border-bottom: 1px solid #ccc;
	width: 100%;
}


/*hack*/

.pure-g span {
	letter-spacing: 0em;
}
