<div class="pure-g" style="margin: 0 auto;">
{{#characters}}
	<div class="pure-u-1 pure-u-md-1-3 characterresume">
<div class="characterresumeheader">
	<div class="avatar">
	{{#avatar}}
	<img src="avatars/64x64/{{avatar}}.png"/>
	{{/avatar}}
	{{^avatar}}
	<img src="avatars/64x64/empty.png"/>
	{{/avatar}}
	</div>
	<a href="#" onclick="menushowcharacter({{id}});">{{name}} <img src="img/edit.png"/></a>
</div>
<div class="characterresumeinfo">
	<ul>
		<li><span class="characterclass-{{classid}}"></span>{{#bot}} (bot){{/bot}}</li>
		<li>Niveau {{level}}</li>
		<li>{{xp}} XP</li>
		<li>{{hp}} PV</li>
		<li><img src="img/male.png"/> <input type="range" name="gender" value="{{gender}}" min="0" max="100" disabled/> <img src="img/female.png"/></li>
		<li><div class="c_cap">Réparation</div><div class="c_capv">{{repair}}</div></li>
		<li><div class="c_cap">Ingénierie</div><div class="c_capv">{{engineering}}</div></li>
		<li><div class="c_cap">Pilotage</div><div class="c_capv">{{pilot}}</div></li>
		<li><div class="c_cap">Médecine</div><div class="c_capv">{{medic}}</div></li>
		<li><div class="c_cap">Vitesse</div><div class="c_capv">{{speed}}</div></li>
		<li><div class="c_cap">Portée</div><div class="c_capv">{{range}}</div></li>
		{{#gamesessionid}}
		<li><a href="#" onclick="menushowgamesession({{gamesessionid}});">En jeu</a></li>
		{{/gamesessionid}}
		{{^gamesessionid}}
		<li>Libre</li>
		{{/gamesessionid}}
	</ul>
</div>
</div>
{{/characters}}
{{^characters}}
<span>Vous n'avez aucun personnage.</span>
{{/characters}}
</div>
<div id="createchar">
<form action="#" method="#" id="createcharacter" onsubmit="return false;" class="pure-form pure-form-aligned">
	<fieldset>
		<legend>Créer un personnage</legend>
<input type="hidden" name="token" value=""/>
<input type="hidden" name="action" value="createcharacter"/>
<div class="pure-control-group"><label for="name">Nom du personnage</label><input type="text" name="name"/></div>
<div class="pure-control-group"><label for="classid">Classe</label><select id="characterclasses" name="classid"></select></div>
<div class="pure-control-group"><label for="name">Genre</label><img src="img/male.png"/> <input type="range" name="gender" value="50" min="0" max="100"/> <img src="img/female.png"/></div>
<button class="pure-button pure-button-primary" onclick="send('createcharacter')">Créer</button>
</fieldset>
</form>
<div id="characterclassesdesc">

</div>
</div>
<script type="text/javascript">
	for (i=0; i < characterclasses.length; i++)
	{
		if (characterclasses[i] != null)
		{
			var opt = document.createElement('option');
			opt.value = characterclasses[i]['id'];
			opt.innerHTML = i18n(characterclasses[i]['name']);
			get('characterclasses').append(opt);
			$('.characterclass-'+characterclasses[i]['id']).each(function(){
				$(this).html('<img src="img/characterclass/32x32/'+characterclasses[i].name+'.png"/><br/> '+i18n(characterclasses[i]['name']));
			});
			$('#characterclassesdesc').append(
					'<div class="card characterresumeinfo"><ul>\
						<li><img src="img/characterclass/64x64/'+characterclasses[i].name+'.png"/></li>\
						<li>'+i18n(characterclasses[i].name)+'</li>\
						<li>Réparation : '+characterclasses[i].repair+'</li>\
						<li>Ingénierie : '+characterclasses[i].engineering+'</li>\
						<li>Pilotage : '+characterclasses[i].pilot+'</li>\
						<li>Médecine : '+characterclasses[i].medic+'</li>\
						<li>Vitesse : '+characterclasses[i].speed+'</li>\
						<li>Portée : '+characterclasses[i].range+'</li>\
					</ul></div>'
				);
		}
	}
	fillToken();
</script>
<div id="sectioninfo">
<p>Les personnages sont vos éléments les plus précieux. Ce sont des clones qui vous obéiront et vous serviront fidèlement. Chaque personnage a une classe particulière, qui donne certains bonus lors des missions. Au fur et à mesure qu'un personnage effectue des missions, il gagne de l'expérience. Cette expérience permettra d'augmenter les niveaux des personnages, et donc leurs caractéristiques et compétences en fonction de leur classe.</p>
<p>Lorsqu'un personnage meurt, un nouveau clone est activé, prenant sa place. En raison d'éléments techniques variés, un clone n'est pas tout à fait la réplique exacte d'un personnage au moment de sa mort, et il ne bénéficiera donc pas de 100% de son expérience acquise. L'expérience conservée après la mort d'un personnage dépend de votre faction.</p>
<p>De même, en cas d'échec de la mission, les traitements de votre faction peuvent avoir un impact sur l'expérience que vous conservez.</p>
</div>
