{{#character}}
{{#avatar}}
<img id="currentavatar" src="avatars/128x128/{{avatar}}.png"/>
{{/avatar}}
{{^avatar}}
<img id="currentavatar" src="avatars/128x128/empty.png"/>
{{/avatar}}
{{#gamesessionid}}<a href="#" onclick="menushowgamesession({{gamesessionid}});">Voir la session de jeu</a> {{/gamesessionid}}<br />
<form action="#" method="#" id="modifycharacter" onsubmit="return false;" class="pure-form pure-form-aligned">
	<fieldset>
		<legend>Modifier le personnage</legend>
		<input type="hidden" name="token" value=""/>
		<input type="hidden" name="action" value="updatecharacter"/>
		<input type="hidden" name="characterid" value="{{id}}"/>
		<div class="pure-control-group"><label for="name">Nom</label><input type="text" name="name" value="{{name}}"/></div>
		<div class="pure-control-group"><label for="avatarselect">Avatar</label><input type="hidden" value="" id="avatarselect" name="avatar"/><div id="modifycharacteravatar"></div></div>
		<div class="pure-control-group"><label for="gender">Genre</label><img src="img/male.png"/> <input type="range" name="gender" value="{{gender}}" min="0" max="100"/> <img src="img/female.png"/></div>
		<div class="pure-control-group"><label for="bot">Robot</label><input type="checkbox" {{#bot}}checked{{/bot}} name="bot"/></div>
		<button class="pure-button pure-button-primary" onclick="send('modifycharacter');menucharacters();">Mettre à jour</button>
</fieldset>
</form>
XP : {{xp}}

<script type="text/javascript">
fillToken();
for(i=1;i<=16;i++)
{
	var label = $('<label></label>');
	var input = $('<input class="avatarvalue" type="radio" name="avatarvalue" value="'+i+'"/>');
	var img = $('<img src="avatars/64x64/'+i+'.png" onclick="changeAvatar('+i+');"/>');
	label.append(input);
	label.append(img);
	$('#modifycharacteravatar').append(label);
}
setInterval(function(){$("#avatarselect").val($("input.avatarvalue:checked").val());},100);
function changeAvatar(image)
{
	$('#currentavatar').attr('src','avatars/128x128/'+image+'.png');
}
</script>
{{/character}}
