<div id="factions">
{{#factions}}
	<div class="pure-u-1 pure-u-md-1-3 faction">
		<div class="factionheader">
			<div class="avatar">
			<img src="img/factions/128x128/{{name}}.png"/>
			</div>
		</div>
		<div class="factioninfo">
			<ul>
				<li><span id="factionname-{{id}}" class="factionname">{{name}}</span></li>
				<li><a href="#" onclick="showFactionInfo({{id}})">Voulez-vous en savoir plus ?</a></li>
				<li>Crédits : {{gold}}</li>
				<li>XP sauvegardé à la mort d'un personnage : <span id="xpsave-{{id}}"></span>%</li>
				<li>Taxe : <span id="tax-{{id}}"></span>%</li>
				<li>XP perdue à l'échec d'une mission : <span id="xplost-{{id}}"></span>%</li>
				<li>{{nbcharacters}} personnages</li>
				{{#maxplayers}}
				<li>{{nbplayers}}/{{maxplayers}} personnes</li>
				{{/maxplayers}}
				<li><a href="#" onclick="changeFaction({{id}});">Intégrer cette faction</a></li>
			</ul>
		</div>
	</div>
{{/factions}}
</div>
<div id="factionrelations">

</div>

<script type="text/javascript">
{{#factions}}
$('#factionname-{{id}}').html(i18n("{{name}}"));
$('#xpsave-{{id}}').html({{xpsave}}*100);
$('#tax-{{id}}').html({{taxrate}}*100);
$('#xplost-{{id}}').html({{xplostonfailure}}*100);
{{/factions}}

function changeFaction(id)
{
	var payload = new Object();
	payload.token=token;
	payload.action='changefaction';
	payload.factionid=id;
	sendJSON(payload);
	setTimeout(refreshProfile(),1000);
	menufactions();
}

function showFactionInfo(id)
{
	var payload = new Object();
	payload.action='getfactionrelations';
	payload.factionid=id;
	var updatefunc = function (data) {
			$('#factionrelations').html('');
			relations = data.relations;
			if (relations.length == 0)
			{
				$('#factionrelations').html('Cette faction n\'entretient pas de relations avec les autres factions');
				return;
			}
			for (i=0;i<relations.length;i++)
			{
				var relation = relations[i];
				$('#factionrelations').append('Relation avec '+i18n(relation.to.name)+' : '+i18n(relation.relationstatus)+' ('+relation.relation+')');
			}
		}
	getWithTrigger(payload,updatefunc);
}
</script>
