<div id="gamesession">
{{#gamesession}}
{{name}} (tour {{turn}}/{{maxturn}})
<br />
<div>Maître du jeu : <span id="gamemastername"></span></div>
<div id="mission">
	Vaisseau (<span id="missionhp"></span> PV):
<table>
	<tbody>
		<tr>
			<td>Nom</td><td id="missionname"></td>
		</tr><tr>
			<td>FTL</td><td id="ftlstatus"></td>
		</tr><tr>
			<td>Systèmes de survie</td><td id="SSstatus"></td>
		</tr><tr>
			<td>Oxygène</td><td id="oxygen"></td>
		</tr><tr>
			<td>Communications</td><td id="commstatus"></td>
		</tr>
	</tbody>
</table>
</div>
{{#ended}}
<strong>Cette partie est terminée.</strong>
{{#characterids}}
<a href="#" onclick="getReward({{.}});">Récupérer la récompense</a>
{{/characterids}}
{{/ended}}
{{^ended}}
<div id="gs_characters">
{{#characterids}}
<div id="character-{{.}}" class="characteractions" style="display:none;">
<span id="charname{{.}}"></span>
<table name="rose" class="rose" id="rosechar{{.}}">
<thead><tr><td colspan="3" id="headerchar{{.}}"></td></tr></thead>
<tbody>
<tr>
	<td><a href="#" onclick="deltaMove({{.}},-1,-1,0)"><img src="img/arrow-nw.png"/></a></td>
	<td><a href="#" onclick="deltaMove({{.}},0,-1,0)"><img src="img/arrow-n.png"/></a></td>
	<td><a href="#" onclick="deltaMove({{.}},1,-1,0)"><img src="img/arrow-ne.png"/></a></td>
</tr>
<tr>
	<td><a href="#" onclick="deltaMove({{.}},-1,0,0)"><img src="img/arrow-w.png"/></a></td>
	<td id="char-ap-{{.}}"></td>
	<td><a href="#" onclick="deltaMove({{.}},1,0,0)"><img src="img/arrow-e.png"/></a></td>
</tr>
<tr>
	<td><a href="#" onclick="deltaMove({{.}},-1,1,0)"><img src="img/arrow-sw.png"/></a></td>
	<td><a href="#" onclick="deltaMove({{.}},0,1,0)"><img src="img/arrow-s.png"/></a></td>
	<td><a href="#" onclick="deltaMove({{.}},1,1,0)"><img src="img/arrow-se.png"/></a></td>
</tr>
</tbody>
</table>
<div id="characteractions-{{.}}" class="characterpowers">
	<ul>
	<li><a href="#" onclick="extinguish({{.}});">Éteindre le feu</a></li>
	<li><a href="#" onclick="repair({{.}});">Réparer</a></li>
	<li><a href="#" onclick="endTurn({{.}});">Fin de tour</a></li>
	</ul>
</div>
</div>
{{/characterids}}
</div>

<script type="text/javascript">
{{#characterids}}
if (mycharacterids.indexOf({{.}}) != -1)
{
	$('#character-{{.}}').css('display','inline-block');
}
{{/characterids}}
</script>
{{/ended}}
<div id="missiondashboard">
	<div id="missionmapcontent">
		<table id="missionmap"></table>
		<table id="legend">
			<thead><tr><td colspan="2">Légende</td></tr></thead>
		<tbody>
			<tr><td class="map_unwalkable"></td><td class="explaination">Mur</td></tr>
			<tr><td class="map_door"></td><td class="explaination">Porte</td></tr>
			<tr><td class="map_pilot"></td><td class="explaination">Poste de pilotage</td></tr>
			<tr><td class="map_communication"></td><td class="explaination">Communications</td></tr>
			<tr><td class="map_ftldrive"></td><td class="explaination">FTL</td></tr>
			<tr><td class="map_survsyst"></td><td class="explaination">Systèmes de survie</td></tr>
			<tr><td class="map_fire"></td><td class="explaination">Feu</td></tr>
		</tbody>
		</table>
	</div>
	<div id="missioneventscontent">
		<h3>Évènements</h3>
		<div id="gsevents"></div>
	</div>
</div>
<script type="text/javascript">
	var updatefunc = function (d) { $('#gamemastername').html(d.player.name);}
	getPlayer(token,{{gamemasterid}},updatefunc);
	var updatemissionfunc = function (d) {
		// display info
		$('#missionname').html(d.mission.name);
		$('#ftlstatus').html(d.mission.ftlhp+'/'+d.mission.maxftlhp);
		$('#SSstatus').html(d.mission.survivesystemshp+'/'+d.mission.maxsurvivesystemshp);
		$('#oxygen').html(d.mission.oxygenlevel+'%');
		$('#commstatus').html(d.mission.communicationhp+'/'+d.mission.maxcommunicationhp);
		$('#missionhp').html(d.mission.hp);
		
		// apply CSS style
		if (d.mission.ftlhp < d.mission.maxftlhp)
		{
			$('#ftlstatus').addClass('warning');
		}
		if (d.mission.survivesystemshp < d.mission.maxsurvivesystemshp)
		{
			$('#SSstatus').addClass('warning');
		}
		if (d.mission.oxygenlevel < 100)
		{
			$('#oxygen').addClass('warning');
		}
		if (d.mission.communicationhp < d.mission.maxcommunicationhp)
		{
			$('#commstatus').addClass('warning');
		}
		}
	getMission(token,{{missionid}},updatemissionfunc);
	{{#characterids}}
	getCharacter(token,{{.}},function (d){
		$('#char-ap-'+d.character.id).html(d.character.ap);placeCharacter(d);
		});
	{{/characterids}}
	
	getEvents(token,{{id}},function (d){
		events = d.events;
		for (i=events.length-1;i>=0;i--)
		{
			event = events[i];
			var date = new Date(event.timestamp*1000);
			var now = new Date();
			var dateindic = 'Il y a longtemps';
			if (now.getDate() - date.getDate() == 0)
			{
				if (now.getHours() - date.getHours() == 0)
				{
					if (now.getMinutes() - date.getMinutes() < 2)
					{
						dateindic = 'À l\'instant';
					}
					else
					{
						dateindic = 'Il y a '+(now.getMinutes() - date.getMinutes())+' minutes';
					}
				}
				else
				{
					dateindic = 'Il y a '+(now.getHours() - date.getHours())+' heures';
				}
			}
			else
			{
				dateindic = 'Il y a '+(now.getDate() - date.getDate())+' jour';
			}
			$('#gsevents').append('<p>'+dateindic+' : '+i18n(event.name,event.values)+'</p>');
		}
	});
	
	var payload = new Object();
	payload.token=token;
	payload.action='getmissionmap';
	payload.missionid={{missionid}};
	sendJSONmap(payload);
	fillToken();
	
	function moveTo(charid,x,y,z)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='moveto';
		payload.characterid=charid;
		payload.x = x;
		payload.y = y;
		payload.z = z;
		sendJSON(payload);
		menushowgamesession({{id}});
	}
	
	function deltaMove(charid,x,y,z=0)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='deltamoveto';
		payload.characterid=charid;
		payload.dx = x;
		payload.dy = y;
		sendJSON(payload);
		menushowgamesession({{id}});
	}
	
	function endTurn(charid)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='endturn';
		payload.characterid=charid;
		payload.gamesessionid={{id}};
		sendJSON(payload);
		menushowgamesession({{id}});
	}
	
	function repair(charid)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='act';
		payload.characterid=charid;
		payload.characteraction='repair';
		sendJSON(payload);
		menushowgamesession({{id}});
	}
	
	function extinguish(charid)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='act';
		payload.characterid=charid;
		payload.characteraction='extinguish';
		sendJSON(payload);
		menushowgamesession({{id}});
	}
	
	function getReward(charid)
	{
		var payload = new Object();
		payload.token=token;
		payload.action='reward';
		payload.characterid=charid;
		sendJSON(payload);
		menushowgamesession({{id}});
		changeChat('general');
	}
</script>
{{/gamesession}}

</div>
