<script type="text/javascript">
function displaydifficulty(id,diff)
{
	$('#'+id).html(i18n('difficulty-'+diff));
}
</script>
<div id="gamesessions">
{{#gamesessions}}
<div class="gamesession">
<p class="gs_name"><a href="#" onclick="menushowgamesession({{id}});">{{name}}</a></p>
<p class="gs_nbplayers">{{nbplayers}}/{{maxplayers}} joueurs</p>
<p class="gs_difficulty">Difficulté : <span id="gs{{id}}"><script type="text/javascript">displaydifficulty("gs{{id}}",{{difficulty}});</script></span></p>
<p class="gs_join">{{#playable}}<span id="gsmenu{{id}}"><a href="#" onclick="displaycharacterlistin({{id}})">Rejoindre la partie</a></span></p>{{/playable}}
</div>
{{/gamesessions}}
{{^gamesessions}}
Aucune partie en cours actuellement.
{{/gamesessions}}
</div>
<div id="creategamesession">
<form action="#" method="#" id="creategamesessionform" onsubmit="return false;" class="pure-form pure-form-aligned">
	<fieldset>
		<legend>Créer une partie</legend>
<input type="hidden" name="token" value=""/>
<input type="hidden" name="action" value="creategamesession"/>
<div class="pure-control-group"><label for="name">Nom de la partie</label><input type="text" name="name"/></div>
<div class="pure-control-group"><label for="missiontypeid">Type de vaisseau</label><select id="missiontypes" name="missiontypeid"></select></div>
<div class="pure-control-group"><label for="missionname">Nom du vaisseau</label><input type="text" name="missionname"/></div>
<div class="pure-control-group"><label for="characterid">Personnage impliqué</label><select id="characters" name="characterid"></select></div>
<div class="pure-control-group"><label for="maxplayers">Nombre de joueur maximum</label><input type="number" name="maxplayers"/></div>
<div class="pure-control-group"><label for="maxturn">Nombre de tours maximum</label><input type="number" name="maxturn" value="10"/></div>
<div class="pure-control-group"><label for="difficulty">Difficulté</label><select id="difficulties" name="difficulty"></select></div>
<div class="pure-control-group"><label for="forfaction">Vers la faction</label><select id="forfaction" name="factionid"><option value="">Aucune</option></select></div>
<button class="pure-button pure-button-primary" onclick="send('creategamesessionform');menugamesessions();">Créer</button>
</fieldset>
</form>
</div>
<script type="text/javascript">
	for (i=0; i < missiontypes.length; i++)
	{
		var opt = document.createElement('option');
		opt.value = missiontypes[i]['id'];
		opt.innerHTML = i18n(missiontypes[i]['name']);
		get('missiontypes').append(opt);
	}
	for (i=0; i < characters.length; i++)
	{
		if (!('gamesessionid' in characters[i]))
		{
			var opt = document.createElement('option');
			opt.value = characters[i]['id'];
			opt.innerHTML = characters[i]['name'];
			get('characters').append(opt);
		}
	}
	var updatefunc = function (d) {
			var diff = d['difficulties'];
			for (i=0; i < diff.length; i++)
			{
				var opt = document.createElement('option');
				opt.value = diff[i];
				if (diff[i]==3)
				{
					opt.selected='selected';
				}
				opt.innerHTML = i18n('difficulty-'+diff[i]);
				get('difficulties').append(opt);
			}
		}
	getDifficulties(token,updatefunc);
	
	for (i=0;i < factions.length; i++)
	{
		var opt = document.createElement('option');
		opt.value = factions[i]['id'];
		opt.innerHTML = i18n(factions[i]['name']);
		get('forfaction').append(opt);
	}
	
	fillToken();
	
	function displaycharacterlistin(id)
	{
		form = $('<form action="#" method="#" onsubmit="return false;" id="joingamesession"><input type="hidden" name="token" value=""/><input type="hidden" name="action" value="joingamesession"/><input type="hidden" name="gamesessionid" value="'+id+'"/></form>');
		select = $('#characters').clone();
		select.attr('id','joincharacters');
		form.append(select);
		form.append($('<button onclick="send(\'joingamesession\');menugamesessions();">Rejoindre</button>'));
		$('#gsmenu'+id).html(form);
		fillToken();
	}
	
	
</script>
<div id="sectioninfo">
<p>Une mission est la mise en action de vos personnages. Que ce soit une mission d'exploration, de transport ou de colonisation, vos personnages affronteront de grands dangers à bord de leur vaisseau, de leur station ou dans leur colonie. Vous pouvez rejoindre ou créer une mission.</p>
<p>Une fois la mission créée ou rejointe, des personnages peuvent rejoindre la partie tant que le nombre maximum de personnages n'est pas atteint. Vous pouvez commencer une mission avant d'avoir le nombre de personnages maximum atteint, en terminant le premier tour.</p>
<p>Tant que le premier tour n'est pas terminé ("tour de préparation"), des personnages peuvent rejoindre la mission. Une fois le tour de préparation passé, vos personnages se retrouveront confrontés aux dangers qui les attendent, tour après tour.</p>
<p>Les différents niveaux de difficulté permettent de pimenter ou apaiser une mission. Plus la difficulté est grande, plus la récompense est grande... mais plus grand est le danger.</p>
<p>Pour les difficultés, voici un bref descriptif :
<ul>
<li><strong>Voyage de détente</strong> : le niveau le plus facile. Les deux seuls moyens de perdre sont la mort du personnage et la destruction du vaisseau. Évènements très peu fréquents. Idéal pour se familiariser avec les concepts du jeu.</li>
<li><strong>Facile</strong> : identique à "Voyage de détente", sauf que les éléments ne sont pas réparables une fois arrivés à 0 PV. Évènements peu fréquents.</li>
<li><strong>Normal</strong> : La difficulté de base. Comme le niveau "Facile", à la différence que vous ne devez pas arriver au dernier tour avec tous les éléments à 0 PV. Évènements normalement fréquents.</li>
<li><strong>Difficile</strong> : L'ensemble des règles des niveaux précédents s'applique, mais en plus vous ne devez à aucun moment avoir un seul élément qui arrive à 0 PV. Évènements fréquents.</li>
<li><strong>Cauchemardesque</strong> : Exactement comme le niveau "Difficile", mais avec des évènements encore plus fréquents.</li>
<li><strong>Oh, bonjour Satan !</strong> : Mêmes règles que le niveau "Cauchemardesque", mais les points d'action de base sont divisés par 2. Évènement à chaque tour ou presque.</li>
</ul></p>
</div>
