<div><h1>Bienvenue dans FTL Nations !</h1>
<p>Vous êtes à la tête d'un groupe de personnes effectuant diverses missions pour le compte de votre faction.</p>
<p>Ces missions sont périlleuses, et que ce soit pour explorer les recoins reculés de la galaxie, transporter des matériaux ou encore coloniser une planète, vous devrez faire preuve de sang froid et de stratégie pour en sortir vivant.</p>
</div>
