<div id="factionsymbol">

</div>
<nav>
	<span class="pure-menu-heading">Menu</span>
<ul class="pure-menu-list">
<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="menucharacters();">Personnages</a></li>
<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="menugamesessions();">Missions</a></li>
<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="menufactions();">Factions</a></li>
<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="menuplayers();">Joueuses & Joueurs</a></li>
<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="">Compte</a></li>
</ul>
</nav>
