{{#players}}
{{name}} (<span class="pfactionname">{{factionname}}</span>) - {{gold}}<br />
{{/players}}
<script type="text/javascript">
$.each($('.pfactionname'),function(i,element){
	element.innerHTML = i18n(element.innerText);
});
</script>
